/* *************************************************
 * * Tooltips
 * ************************************************* */

a.tooltip {
    outline: none;
    border-bottom: 1px dotted;
}

a.tooltip:hover {
    text-decoration: none;
}

a.tooltip span {
    z-index: 10;
    display: none;
    padding: 14px 20px;
    margin-top: -30px;
    margin-left: 14px;
    width: auto;
    max-width: 300px;
    line-height: 16px;
    text-align: left;
}

a.tooltip:hover span {
    display: inline;
    position: absolute;
    color: #111;
    border: 1px solid #DCA;
    background:#fffAF0;
}

a.tooltip span {
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}

/* *************************************************
 * * Options
 * ************************************************* */

#options_table {
    border-collapse: separate;
    border-spacing: 3px 5px;
}

#options_table > tbody > tr > td:nth-child(1) {
    text-align: right;
}

#options_form fieldset {
    border: 0;
    padding: 0;
}

/* *************************************************
 * * Miscellaneous
 * ************************************************* */

#forkme {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
    width: 149px;
    height: 149px;
}

/* *************************************************
 * * Progress and Results
 * ************************************************* */

#progress {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    display: none;
}

table#results {
    display: none;
    counter-reset: row;
}

table#results > tbody > tr > td.badge {
    text-align: right;
}

table#results tr td:first-child:before {
    display: table-cell;
    counter-increment: row;
    content: counter(row);
    text-align: right;
}

table#results {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid gainsboro;
}

table#results th, table#results td {
    padding: 16px;
}

table#results tbody > tr:nth-child(odd) {
    background-color: whitesmoke;
}

/*
 * Observed statuses: 'queued', 'in_progress', 'completed'
 * Observed conclusions: 'success', 'failure', 'cancelled', null
 *
 * 'completed' and 'success' are not colored. Nor is null since it's shown with a dash.
 */

table#results .queued {
    color: violet;
}

table#results .in_progress {
    color: purple;
}

table#results .failure {
    color: red;
    font-weight: bold;
}

table#results .cancelled {
    color: orange;
}
