#forkme {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
    width: 149px;
    height: 149px;
}

#progress {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    display: none;
}

table > tbody > tr > td.badge {
    text-align: right;
}

table {
    counter-reset: row;
}

tr td:first-child:before {
    display: table-cell;
    counter-increment: row;
    content: counter(row);
    text-align: right;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid gainsboro;
}

th, td {
    padding: 16px;
}

tbody > tr:nth-child(odd) {
    background-color: whitesmoke;
}

/*
 * Observed statuses: 'queued', 'in_progress', 'completed'
 * Observed conclusions: 'success', 'failure', 'cancelled', null
 *
 * 'completed' and 'success' are not colored. Nor is null since it's shown with a dash.
 */

.queued {
    color: violet;
}

.in_progress {
    color: purple;
}

.failure {
    color: red;
    font-weight: bold;
}

.cancelled {
    color: orange;
}
